@using LY.EMIS5.Entities.Core.Memberships;
@using LY.EMIS5.Common;
@using LY.EMIS5.Const;
@{

}
<style>
    .fc-today {
        background:#fcf8e3
     }
</style>
<!--body wrapper start-->
<div class="wrapper">
    <!-- page start-->
    <div class="row">

        <div class="col-md-8">
            <section class="panel">
                <div id="calendar" class="has-toolbar"></div>
            </section>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        待我开标
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" href="javascript:;"></a>
                            <a class="fa fa-times" href="javascript:;"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        @foreach (var item in ViewBag.Open as List<Project>)
                        {
                            <p class="text-primary">
                                <div class="col-md-8">
                                    <a href="/project/open/@item.Id">@item.ProjectName</a>
                                    </div><div class="col-md-4">@item.OpenDate.ToChineseDateString()</div>
</p>
                        }
                    </div>
                </section>
            </div>
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        公司通知
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" href="javascript:;"></a>
                            <a class="fa fa-times" href="javascript:;"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        @foreach (var item in ViewBag.News as List<News>)
                        {
                            <p class="text-primary">
                                <a href="/news/view/@item.Id">@item.Title</a>
                            </p>
                        }
                    </div>
                </section>
            </div>
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        我的项目
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" href="javascript:;"></a>
                            <a class="fa fa-times" href="javascript:;"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        @foreach (var item in ViewBag.Projects as List<Project>)
                        {
                            if (item.ProjectProgress != ProjectProgresses.NotOnline)
                            {
                                <p class="text-primary">
                                    <a href="/Project/Audit/@item.Id">@item.ProjectName</a>
                                </p>
                            }
                            else {
                                <p class="text-primary">
                                    <a href="/Project/Create/@item.Id">@item.ProjectName</a>
                                </p>
                            }

                        }
                    </div>
                </section>

            </div>
        </div>
    </div>

    <!-- page end-->
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    工作安排
                </h4>
            </div>
            <form class="form-horizontal adminex-form" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">工作时间</label>
                        <div class="col-sm-10">
                            @Html.TextBox("date", new { @class = "required form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">工作内容</label>
                        <div class="col-sm-10">
                            @Html.TextArea("content", new { @class = "required form-control" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">工作人员</label>
                        <div class="col-sm-10">
                            @Html.DropDownList("managerId", ViewBag.List as IList<SelectListItem>, new { @class = "form-control required" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        关闭
                    </button>
                    <button type="submit" class="btn btn-primary">
                        保存
                    </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->

</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    工作详情
                </h4>
            </div>
            <form class="form-horizontal adminex-form" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">工作时间</label>
                        <div class="col-sm-10">
                            <span class="date"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">工作内容</label>
                        <div class="col-sm-10">
                            <span class="content"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">安排人员</label>
                        <div class="col-sm-10">
                            <span class="user"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                        关闭
                    </button>
                </div>
                </form>
</div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script type="text/javascript">
    $(function () {
        /* initialize the calendar
     -----------------------------------------------------------------*/


        $.get('/Home/Date', function (data) {
            $('#calendar').fullCalendar({
                events: data,editable: true,
                dayClick: function (date, jsEvent, view) {
                    $('#date').val(date.Format("yyyy-MM-dd"));
                    $('#myModal').modal('show');

                }, eventClick: function (calEvent, jsEvent, view) {
                    $('.date').text(calEvent.start.Format("yyyy-MM-dd hh:mm"))
                    $('.content').text(calEvent.content);
                    $('.user').text(calEvent.user)
                    
                        $('#detailModal').modal('show');

                }
            });
        })
    });
</script>
