@using LY.EMIS5.Common;
@using LY.EMIS5.Const;
@using LY.EMIS5.Entities.Core.Memberships
@model Project
@{
    ViewBag.Title = "编辑项目";
}
@section Script{
    <script>
        $(function () {


            $('[name="Source"]').change(function () {
                if ($('[name="Source"]').val() == '代打') {
                    $('#replace').show().find('input.form-control').addClass('required');
                } else {
                    $('#replace').hide().find('input.form-control').removeClass('required');
                }
            });
            if ('@Model.Source' != '') {
                $('[name="Source"]').val('@Model.Source');
            }
            $('[name="Source"]').change();
        });
    </script>
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                项目资料
            </header>
            <div class="panel-body">
                <form class="form-horizontal adminex-form" method="post">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">项目名称</label>
                        <div class="col-sm-10">
                            @Html.HiddenFor(c => c.Id)
                            <label class="control-label">@Model.ProjectName</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">状态</label>
                        <div class="col-sm-10">
                            <label class="control-label">@Model.ProjectProgress</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">下载链接</label>
                        <div class="col-sm-10">
                            <label class="control-label">@Model.Link</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">规模</label>
                        <div class="col-sm-10">
                            <label class="control-label">@Model.Scale</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">业主</label>
                        <div class="col-sm-10">
                            <label class="control-label">@Model.Owner</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">保证金来源</label>
                        <div class="col-sm-10">
                            <select name="Source" class="form-control">
                                <option>自打</option>
                                <option>代打</option>
                            </select>
                        </div>
                    </div>
                    <div id="replace" class="form-group none">
                        <label class="col-sm-2 col-sm-2 control-label">代打金额</label>
                        <div class="col-sm-10 input-group">
                            @Html.TextBox("ReplaceMoney", Model.ReplaceMoney.ToString(), new { @class = "form-control number form-control-addon" })<span class="input-group-addon">万元</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">保证金金额</label>
                        <div class="col-sm-10 input-group">
                            <label class="control-label">@(Model.Money+"万元")</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">保证金截至时间</label>
                        <div class="col-sm-10">
                            <label class="control-label">@Model.EndDate.ToChineseDateString()</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">保证金打款方式</label>
                        <div class="col-sm-10">
                            <label class="control-label">@Model.Type</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">保证金账户名</label>
                        <div class="col-sm-10">
                            <label class="control-label">@Model.UserName</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">保证金账号</label>
                        <div class="col-sm-10">
                            <label class="control-label">@Model.Account</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">保证金开户行</label>
                        <div class="col-sm-10">
                            <label class="control-label">@Model.Bank</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">开标时间</label>
                        <div class="col-sm-10">
                            <label class="control-label">@Model.OpenDate.ToChineseDateString()</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">资料费</label>
                        <div class="col-sm-10 input-group">

                            @Html.TextBox("MaterialFee", Model.MaterialFee.ToString(), new { @class = "form-control number form-control-addon" })<span class="input-group-addon">元</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">公司名称</label>
                        <div class="col-sm-10">
                            <label class="control-label">@Model.CompanyName</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">资质要求</label>
                        <div class="col-sm-10">
                            <label class="control-label">@Model.Aptitude</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">费用收费情况</label>
                        <div class="col-sm-10">
                            <label class="control-label">@Model.MoneySituation</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(c => c.Remark, new { @class = "form-control", placeholder = "该选项只有自己才能看见，此信息为私密信息" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-primary" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>